<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Add Product</h1>
    <form action="/add-product" method="POST" enctype="multipart/form-data">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required><br>

      <label for="description">Description:</label>
      <textarea id="description" name="description" required></textarea><br>

      <label for="price">Price:</label>
      <input type="number" id="price" name="price" required><br>

      <label for="discount">Discount:</label>
      <input type="number" id="discount" name="discount"><br>

      <label for="shippingCharge">Shipping Charge:</label>
      <input type="number" id="shippingCharge" name="shippingCharge"><br>

      <label for="productImages">Product Images:</label>
      <input type="file" id="productImages" name="productImages" multiple><br>

      <button type="submit">Add Product</button>
    </form>
  </body>
</html>
